html {
  height: 100%;
}

body {
  overflow-x: hidden;
  background: url("https://res.cloudinary.com/dx9jspago/image/upload/v1714145612/FinalYearProject/login-bg-new-6_f00gaf.jpg");
  background-size: cover;
  backdrop-filter: blur(0.25rem);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;
  margin: 0;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hr {
  margin: 0;
}

.label {
  margin: 1rem 0 1rem 0;
}

.search-box {
  width: 25vw;
}

.hero-image {
  width: 3rem;
  box-shadow: 0 0 0.45rem #e53825;
}

.hero-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-weight: 700;
  color: #e53825;
  text-shadow: 0 0 0.1rem #47120c;
}

.navbar {
  font-family: "Cinzel", serif;
  background-color: #333d;
}

.navbar-brand {
  width: 13rem;
  display: flex;
  justify-content: space-between;
}

.nav-bg {
  background-color: #111d13;
}

.card {
  border-radius: 1rem;
}

.card img {
  width: 100%;
}

.card-img {
  border-radius: 1rem 1rem 0 0;
  height: 13rem;
  object-fit: cover;
}

.card-body .label {
  display: inline;
  text-decoration: underline;
  font-weight: 700;
}

.card-body .col {
  margin: 0.2rem 0;
}

.name1 {
  letter-spacing: 0.3rem;
}

.admin-form {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #b17d7987;
  box-shadow: 0.5rem 0.5rem 0.5rem #b17d79;
}

.student-form {
  background-color: #bfcddc;
  box-shadow: 0.5rem 0.5rem 0.5rem #929598c8;
  border-radius: 1rem;
}

.company-form {
  background-color: #d0e3ff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.25rem #193969;
}

.curr-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.logoArea {
  background-color: #fff;
  border: 0.2rem solid #0f213c;
  border-radius: 0.25rem;
}

.jdArea {
  border: 0.25rem dashed grey;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.jdArea a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jdArea img {
  width: 25%;
}

.form-heading {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
}

#curr-jd {
  cursor: pointer;
}

.slogin {
  background-color: #bfcddc;
  box-shadow: 0.5rem 0.5rem 0.5rem #929598c8;
}

.dropArea {
  padding: 0;
  border: 0.15rem dashed #929da9;
  border-radius: 0.5rem;
}

#drop-text {
  margin: 0;
}

.drop-message {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area {
  resize: none;
  height: 7rem;
}

.pdf-logo {
  width: 2rem;
}

.dropArea img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eee;
  background-color: #888;
  height: 4rem;
  box-shadow: 0 -0.1rem 1rem #aaa;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
