body {
  overflow-x: hidden;
}
.search-box {
  width: 30vw;
}

.t-limit {
  white-space: wrap;

  text-overflow: ellipsis;
  max-width: 15rem;
}

.nav-bg {
  background-color: #111d13;
}

.card {
  border-radius: 1rem;
}

.card img {
  width: 100%;
}

.hero-image {
  width: 3rem;
  box-shadow: 0 0 0.45rem #e53825;
}

.navbar-brand {
  width: 13rem;
  display: flex;
  justify-content: space-between;
}

.hero-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-weight: 700;
  color: #e53825;
  text-shadow: 0 0 0.1rem #47120c;
}

.name1 {
  letter-spacing: 0.3rem;
}

.navbar {
  font-family: "Cinzel", serif;
  background-color: #333;
}

.card-text span {
  font-weight: 600;
  text-decoration: underline;
  display: block;
}

.container {
  margin-top: 2rem;
}

.form-container {
  padding: 2rem;
  border-radius: 1rem;

  background-color: #b17d7987;
  box-shadow: 0.5rem 0.5rem 0.5rem #b17d79;
}

.form-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 35%;
  padding: 2rem;
  border-radius: 1rem;
}
.footer {
  background-color: #888;
  color: #eee;
  height: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 0 0;
  box-shadow: 0 -0.1rem 1rem #aaa;
}

.student-form {
  background-color: #bfcddc;
  box-shadow: 0.5rem 0.5rem 0.5rem #929598c8;

  border-radius: 1rem;
}

.form-heading {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
}

.slogin {
  background-color: #bfcddc;
  box-shadow: 0.5rem 0.5rem 0.5rem #929598c8;
}

#dropArea {
  padding: 0;
  border: 0.15rem dashed #929da9;
  border-radius: 0.5rem;
}

.resume-box {
  width: 100%;
}

#drop-text {
  margin: 0;
}

.drop-message {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
