html {
  height: 100%;
}

body {
  margin: 0;
  padding-bottom: 5rem;
  box-sizing: border-box;
  background: url("https://res.cloudinary.com/dx9jspago/image/upload/v1714145612/FinalYearProject/login-bg-new-6_f00gaf.jpg");
  background-size: cover;
  backdrop-filter: blur(0.25rem);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  position: relative;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hr {
  margin: 0;
}

.label {
  margin: 1rem 0 1rem 0;
}

.search-box {
  width: 25vw;
}

.hero-image {
  width: 3rem;
  box-shadow: 0 0 0.45rem #e53825;
}

.hero-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  font-weight: 700;
  color: #e53825;
  text-shadow: 0 0 0.1rem #47120c;
}

.navbar {
  font-family: "Cinzel", serif;
  background-color: #333d;
}

.navbar-brand {
  width: 13rem;
  display: flex;
  justify-content: space-between;
}

.nav-bg {
  background-color: #111d13;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-dropdown::after {
  content: none;
}

.dropdown-menu {
  min-width: max-content;
}

.nav-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.25rem solid azure;
}

.nav-img img {
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 1rem;
}

.card img {
  width: 100%;
}

.card-img {
  border-radius: 1rem 1rem 0 0;
  height: 13rem;
  object-fit: cover;
}

.card-body .label {
  display: inline;
  text-decoration: underline;
  font-weight: 700;
}

.card-body .col {
  margin: 0.2rem 0;
}

.comp-buttons a {
  width: 7rem;
}

.name1 {
  letter-spacing: 0.3rem;
}

.admin-form {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #b17d7987;
  box-shadow: 0.5rem 0.5rem 0.5rem #b17d79;
  margin-bottom: 3rem;
}

.student-form {
  background-color: #bfcddcd2;
  box-shadow: 0.5rem 0.5rem 0.5rem #929598c8;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.company-form {
  background-color: #d0e3ff;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.25rem #193969;
  margin-bottom: 3rem;
}

.curr-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.logoArea {
  background-color: #fff;
  border: 0.2rem solid #0f213c;
  border-radius: 0.25rem;
}

.jdArea {
  border: 0.25rem dashed grey;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.jdArea a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jdArea img {
  width: 25%;
}

.form-heading {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
}

#curr-jd {
  cursor: pointer;
}

.slogin {
  background-color: #bfcddc;
  box-shadow: 0.5rem 0.5rem 0.5rem #929598c8;
}

.dropArea {
  padding: 0;
  border: 0.15rem dashed #929da9;
  border-radius: 0.5rem;
}

#drop-text {
  margin: 0;
}

.drop-message {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area {
  resize: none;
  height: 7rem;
}

.pdf-logo {
  width: 2rem;
}

.dropArea img {
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #eee;
  background-color: #888;
  height: 4rem;
  box-shadow: 0 -0.1rem 1rem #aaa;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/* Profile css */

.profile-container {
  position: relative;
  width: 100%;

  min-height: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0.5rem 2rem 5rem #000000aa;
  border-radius: 1rem;
  overflow: hidden;
}

.profile-container .left-side {
  position: relative;
  background-color: #003047d2;
  padding: 3rem;
}

.profile-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  /* background-color: darkblue; */
}

.profile-text .imgBx {
  position: relative;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.75rem solid #fff;
  box-shadow: 0 0 5rem black;
  /* object-fit: contain; */
}

.profile-text .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-text h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4rem;
  line-height: 2.2rem;
}

.profile-container .right-side {
  position: relative;
  background-color: #ff7b6c84;
  padding: 3rem;
}

.contact-info {
  padding-top: 2.5rem;
}

.contact-info .title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact-info ul {
  position: relative;
}

.contact-info ul li {
  list-style: none;
  position: relative;
  margin: 0.6rem 0;
  cursor: pointer;
}

.contact-info ul li .icon {
  display: inline-block;
  width: 2rem;
  font-size: 1.1rem;
  color: #03a9f4;
}

.contact-info ul li span {
  color: #fff;
  font-weight: 300;
}

/* right side div */

.education-info {
  padding-top: 0;
}

.education-info .title {
  text-transform: uppercase;
  color: #0f213c;
  font-weight: 600;
  letter-spacing: 1px;
}

.education-info ul {
  position: relative;
  margin-top: 1rem;
}

.education-info ul li {
  list-style: square;
  position: relative;
  margin: 0.6rem 0;
}

.education-info ul li p {
  font-weight: 500;
  font-size: 1.1rem;
}

.edit-profile {
  background-color: #003047d2;
  color: #fff;
}

.edit-profile:hover {
  background-color: #003047d2;
  color: #fff;
}

.required:after {
  content: " *";
  color: red;
}

/*about company  */

.company-website a {
  color: #fff;
}

.company-container {
  grid-template-columns: 1fr 1fr;
}

.company-text {
  color: #0b1a21;
  letter-spacing: 1px;
  text-align: justify;
}

.d-text {
  color: #fff;
  letter-spacing: 1px;
  text-align: justify;
}

.about {
  /* background-color: gray; */
  padding: 0.3rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

.job-description .title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.apply-btn {
  position: absolute;
  z-index: 100;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: larger;
  background-color: #1f485dd2;
  color: #fff;
}

.apply-btn:hover {
  background-color: #1f485dd2;
  color: #fff;
}
