<% layout("/layouts/boilerplate.ejs") %>

<div class="admin-form col-md-4 offset-md-4 px-5 py-4">
  <h1 class="form-heading text-center">Admin Login</h1>
  <hr class="hr mb-4" />
  <form>
    <div class="row">
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="admin[email]"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="admin[password]"
        />
      </div>
      <div class="mb-4">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="remember-me" />
          <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
      </div>
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
  </form>
</div>
