<% layout("/layouts/boilerplate.ejs") %>

<h1>About Company</h1>

<a href="#" download>
  <div class="jd d-flex">
    <img
      class="img-thumbnail pdf-logo"
      src="https://th.bing.com/th/id/OIP.74Fct7_KqN0IgcajG2ZkkgAAAA?rs=1&pid=ImgDetMain"
      alt=""
    />
    <input type="text" class="form-control" id="arole" />
  </div>
</a>
