<% layout("/layouts/boilerplate.ejs") %>

<div class="contain d-flex justify-content-evenly flex-wrap my-5">
  <div class="card m-2" style="width: 20rem">
    <img
      src="https://logosmarcas.net/wp-content/uploads/2020/06/Accenture-Logo.png"
      class="card-img border-bottom"
      alt="..."
    />

    <div class="card-body d-flex justify-content-between flex-column">
      <div class="card-content mb-4">
        <h5 class="card-title">Accenture</h5>
        <p class="card-text t-limit">
          <span>Role:</span> Packaged App Development Associate/System and
          Application Services Associate
        </p>
        <p class="card-text t-limit">
          <span>Location:</span> Bangalore/Hyderabad/Pune/
          Mumbai/Chennai/Gurugram/ Kolkata/Indore/Jaipur/ Coimbatore
        </p>
      </div>

      <a href="#" class="btn btn-primary">Apply Now</a>
    </div>
  </div>

  <div class="card m-2" style="width: 20rem">
    <img
      src="https://th.bing.com/th/id/OIP.lLbJ90gEKmzpE3f7nMUrAgAAAA?rs=1&pid=ImgDetMain"
      class="card-img border-bottom"
      alt="..."
    />

    <div class="card-body d-flex justify-content-between flex-column">
      <div class="card-content mb-4">
        <h5 class="card-title">Tata Consultansy Services</h5>
        <p class="card-text t-limit">
          <span>Role:</span> Packaged App Development Associate/System and
          Application Services Associate
        </p>
        <p class="card-text t-limit">
          <span>Location:</span> Bangalore/Hyderabad/Pune/
          Mumbai/Chennai/Gurugram/ Kolkata/Indore/Jaipur/ Coimbatore
        </p>
      </div>
      <a href="#" class="btn btn-primary">Apply Now</a>
    </div>
  </div>

  <div class="card m-2" style="width: 20rem">
    <img
      src="https://th.bing.com/th/id/OIP.SRS0nRJWVEJemiwWBz0mQAAAAA?rs=1&pid=ImgDetMain"
      class="card-img border-bottom"
      alt="..."
    />

    <div class="card-body d-flex justify-content-between flex-column">
      <div class="card-content mb-4">
        <h5 class="card-title">Nxtwave Disruptive Technologies</h5>
        <p class="card-text t-limit">
          <span>Role:</span> Packaged App Development Associate/System and
          Application Services Associate
        </p>
        <p class="card-text t-limit"><span>Location:</span> Coimbatore</p>
      </div>
      <a href="#" class="btn btn-primary">Apply Now</a>
    </div>
  </div>
</div>
