<% layout("/layouts/boilerplate.ejs") %>

<div class="contain">
    <div class="card p-3 m-5" style="width: 20rem;">
        <img src="https://logosmarcas.net/wp-content/uploads/2020/06/Accenture-Logo.png" class="card-img border-bottom " alt="..."  >
        
        <div class="card-body">
          <h5 class="card-title">Accenture</h5>
          <p class="card-text t-limit">Role: Packaged App Development Associate/System and Application Services Associate
            </p>
            <p class="card-text t-limit">Location: Bangalore/Hyderabad/Pune/ Mumbai/Chennai/Gurugram/ Kolkata/Indore/Jaipur/ Coimbatore</p>

            <a href="#" class="btn btn-primary mb-0">Apply Now</a>
        </div>
      </div>
    
      <div class="card p-3 m-5" style="width: 20rem;">
        <img src="https://th.bing.com/th/id/OIP.lLbJ90gEKmzpE3f7nMUrAgAAAA?rs=1&pid=ImgDetMain" class="card-img border-bottom p-3" alt="..." >
        
        <div class="card-body">
          <h5 class="card-title">Tata Consultansy Services</h5>
          <p class="card-text t-limit">Role: Packaged App Development Associate/System and Application Services Associate
            </p>
            <p class="card-text t-limit">Location: Bangalore/Hyderabad/Pune/ Mumbai/Chennai/Gurugram/ Kolkata/Indore/Jaipur/ Coimbatore</p>
          <a href="#" class="btn btn-primary mb-0">Apply Now</a>
        </div>
      </div>
    
      <div class="card p-3 m-5" style="width: 20rem;">
        <img src="https://th.bing.com/th/id/OIP.SRS0nRJWVEJemiwWBz0mQAAAAA?rs=1&pid=ImgDetMain
        <div class="card-body">
          <h5 class="card-title"> Nxtwave Disruptive Technologies</h5>
          <p class="card-text t-limit">Role: Packaged App Development Associate/System and Application Services Associate
            </p>
            <p class="card-text t-limit">Location:  Coimbatore</p>
          <a href="#" class="btn btn-primary mb-0">Apply Now</a>
        </div>
      </div>
</div>
