<% layout("/layouts/boilerplate.ejs") %>

<div class="profile-container">
  <div class="left-side">
    <div class="profile-text">
      <div class="imgBx">
        <img
          src="https://avatars.githubusercontent.com/u/95528731?v=4"
          alt=""
        />
      </div>
      <h2>Vedansh Singh <br /><span>Chandigarh University</span></h2>
    </div>
    <div class="contact-info">
      <h3 class="title">Contact Info</h3>
      <br />
      <ul>
        <li>
          <span class="icon"><i class="fa-solid fa-phone"></i></span>
          <span class="text">6377257467</span>
        </li>

        <li>
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
          <span class="text">vedansh19singh@gmail.com</span>
        </li>

        <li>
          <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
          <span class="text"> 14-08-2002 </span>
        </li>
        <li>
          <span class="icon"
            ><i class="fa-solid fa-person-half-dress"></i
          ></span>
          <span class="text"> Male </span>
        </li>
        <li>
          <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
          <span class="text"> Kota, Rajasthan </span>
        </li>
      </ul>
    </div>

    <!-- College details -->
  </div>
  
  <div class="right-side lh-base">
    <div class="education-info">
      <h3 class="title">Academics details</h3>
      <br />
      <hr class="hr" />
      <ul>
        <div class="row">
          <div class="mb-3 col-md-6 lh-lg">
            <li>
              <p class="text">University Name: Chandigarh University</p>
            </li>

            <li>
              <p class="text">UID:- 20BCS9828</p>
            </li>
            <li>
              <p class="text">Stream: CSE.</p>
            </li>
            <li>
              <p class="text">CGPA: 10</p>
            </li>
          </div>

          <div class="mb-3 col-md-6 lh-lg">
            <li>
              <p class="text">College Name: Chandigarh University</p>
            </li>
            <li>
              <p class="text">Branch: B.E.</p>
            </li>
            <li>
              <p class="text">Batch: 2024</p>
            </li>
            <li>
              <p class="text">Gap: 0</p>
            </li>
          </div>
        </div>
      </ul>
      
    </div>
    <hr class="hr" />
    <br />
    <div class="education-info">
      <h3 class="title ">Educational details</h3>
      <ul>
        <div class="row">
          <div class="mb-3 col-md-6 lh-lg">
            <li>
              <p class="text">10th Percentage: 90 %</p>
            </li>

            <li>
              <p class="text">10th Board: CBSE</p>
            </li>

            <li>
              <p class="text">10th School: Kendriya Vidyalaya</p>
            </li>
           
        </div>
            <div class="mb-3 col-md-6 lh-lg">
              <li>
                <p class="text">12th Percentage: 90 %</p>
              </li>

              <li>
                <p class="text">10th Board: CBSE</p>
              </li>
              <li>
                <p class="text">10th School: Central Academy</p>
              </li>

            </div>
          </div>
        </div>
      </ul>
      <hr>
      <div class="row">
        <h3 class="title">Uploaded Files</h3>
      </div>
      </div>
    </div>
    
    
  

  <script src="/js/dragAndDrop.js"></script>

