<% layout("/layouts/boilerplate.ejs") %>
<div class="row bg-primary">
  <div class="col-12 px-5 py-4">
    <h1 class="form-heading text-center">My Profile</h1>
    <br />
    <hr class="hr" />
    <br /><br />

    <div class="row">
      <div class="col-md-4">
        <div class="img-cont d-flex justify-content-center">
          <img
            src="https://avatars.githubusercontent.com/u/83577566?v=4"
            class="w-75 h-75 rounded-circle border border-4 border-primary-subtle object-fit-cover"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-md-8 d-flex justify-content-center align-items-start flex-column"
      >
        <h1>Qualifications</h1>
        <p>Intermidiate:- 98%</p>
        <p>Matriculation:- 98%</p>
      </div>
    </div>

    <br /><br />

    <br /><br />
    <div class="row">
      <div class="col-md-4">
        <div
          class="img-cont d-flex justify-content-center align-items-center flex-column"
        >
          <p>Md Adnan Hussain</p>
          <p>20BCS9812</p>
          <p>9523870330</p>
          <p>mdadnanhussain@gmail.com</p>
        </div>
      </div>

      <div class="col-md-8">
        <h1>Lorem ipsum dolor sit.</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quo
          sint ipsum illum illo inventore a ipsa assumenda velit non corporis,
          suscipit accusamus minus id debitis nisi aut voluptas! Reiciendis.
        </p>
      </div>
    </div>
  </div>
</div>

<script src="/js/dragAndDrop.js"></script>
