<% layout("/layouts/boilerplate.ejs") %>

<div class="profile-container">
  <div class="left-side">
    <div class="profile-text">
      <div class="imgBx">
        <img
          src="https://avatars.githubusercontent.com/u/95528731?v=4"
          alt=""
        />
      </div>
      <h2>Vedansh Singh <br /><span>Chandigarh University</span></h2>
    </div>
    <div class="contact-info">
      <h3 class="title">Contact Info</h3>
      <ul>
        <li>
          <span class="icon"><i class="fa-solid fa-phone"></i></span>
          <span class="text">6377257467</span>
        </li>

        <li>
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
          <span class="text">vedansh19singh@gmail.com</span>
        </li>

        <li>
          <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
          <span class="text"> 14-08-2002 </span>
        </li>
        <li>
          <span class="icon"
            ><i class="fa-solid fa-person-half-dress"></i
          ></span>
          <span class="text"> Male </span>
        </li>
        <li>
          <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
          <span class="text"> Kota, Rajasthan </span>
        </li>
      </ul>
    </div>

    <!-- College details -->

    <div class="contact-info">
      <h3 class="title">Academics details</h3>
      <ul>
        <li>
          <span class="icon"><i class="fa-solid fa-phone"></i></span>
          <span class="text">20BCS9828</span>
        </li>

        <li>
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
          <span class="text">Branch: B.E.</span>
        </li>

        <li>
          <span class="icon"><i class="fa-solid fa-book"></i></span>
          <span class="text">Stream: CSE.</span>
        </li>

        <li>
          <span class="icon"><i class="fa-solid fa-calendar-days"></i></span>
          <span class="text"> Batch: 2024 </span>
        </li>
        <li>
          <span class="icon"
            ><i class="fa-solid fa-person-half-dress"></i
          ></span>
          <span class="text"> Gap: 0 </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-side"></div>
</div>

<script src="/js/dragAndDrop.js"></script>
